* {
    font-family: sans-serif;
}

nav {
    background-color: #F4E04D;
}

.navbar-brand {
    color: #042A2B;
}

button {
    color: #F4E04D;
    font-color: #042A2B;
}

.btn {
    color: #042A2B;;
    background-color: #F4E04D;
    border-color: #F4E04D;
    font-size: 1.25rem;
}

form {
    background-color: #94DDDD;
    padding: 25px;
    margin: 30px;
    border-radius: 25px;
}

.right {
    display: hidden;
}

p {
    text-align: center;
    color: #488893;
    margin-top: 20px;
}

img {
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translatex(-50%);
}

@media only screen and (min-width: 768px) {
    .right {
        display: block; 
    }

}

@media only screen and (min-width: 1200px) {
    .main {
        display: flex;
    }
    .right {
        position: relative;
        display: flex;
        flex: 50%;
        background-color: lightgreen;
        width: 100%;
        height: 100%;
    }
    form {
        width: 500px;
    }

    .left {
        display: inline-block;
        flex: 30%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    img {
        left: 15%;
    }

}